<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <% messages.map((messages) => { %>
    <p><%= messages.text %></p>
    <p><%= messages.user %></p>
    <p><%= messages.added %></p>
    <%})%>
  </body>
</html>
